@import "bootstrap/dist/css/bootstrap.min.css";

body {
    background: green;
    box-sizing: border-box;
}

.card {
    display: block;
    margin: auto;
    height: 400px;
    width: 250px;
    padding: 20px;
    padding-top: 120px;
    border-radius: 10px;
    border: 1px solid black;
    position: relative;
    text-align: center;
    font-size: 80px;

    &:before {
        position: absolute;
        top: 0px;
        left: 20px;
        font-size: 80px;
    }

    &:after {
        position: absolute;
        bottom: 0px;
        right: 20px;
        font-size: 80px;
    }

    &.spades:before,
    &.spades:after {
        content: '\2660';
    }

    &.clubs:before,
    &.clubs:after {
        content: '\2663';
    }

    &.hearts:before,
    &.hearts:after {
        content: '\2665';
        color: red;
    }

    &.diamonds:before,
    &.diamonds:after {
        content: '\2666';
    }
}